<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pre Resolucion</title>
</head>
<style>
    body {
        width: 216mm;
        height: 356mm;
        margin-left: auto;
        margin-right: auto;
        padding-left: 15px;
        padding-left: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        border: solid 3px black;
    }

    h2,
    h3 {
        text-align: center;
        font-weight: bold;
    }

    legend {
        border: none;
    }

    fieldset {
        border: none;
    }

    table {
        border: 1px solid rgb(58, 58, 58);
        margin-top: -1%;
        width: 800px;
        text-align: center;
        border-collapse: separate;
        font-size: 11px;
    }
</style>

<body>

    <h2>Pre Resolucion # -------- de 2</h2>

    <br>

    <p>
        "POR LA CUAL SE REALIZA MUTACION DE TERCERA CLASE EN EL SISTEMA DE GESTIÓN CATASTRAL DEL VALLE DEL CAUCA
        MUNICIPIO DE ----''
    </p>
    <p>
        El Director de Catastro Valle del Cauca, en uso de sus facultades legales y en especial las que le confiere los
        Decretos -------------- y dando cumplimiento a lo dispuesto en la Ley 14 de 1983, en la Ley 1437 de 2011, en la
        Ley 44 de 1990, en la Resolución 70 de 2011 del Instituto Geográfico "Agustín Codazzi", y,
    </p>

    <br>

    <h3>Considerando</h3>

    <p>
        Que ante la Dirección de Catastro Valle del Cauca, se radicaron solicitudes correspondientes a nuevas
        construcciones o edificaciones, demoliciones, y modificación de las condiciones y características constructivas
        de los predios. <br> Que igualmente, se incluyen en esta clase de mutaciones los cambios que se presenten
        respecto
        del destino económico de los predios. Que en cumplimiento de su objeto misional de mantener actualizado el censo
        inmobiliario del Valle del Cauca se realizaron los trámites establecidos en el Manual de procedimiento de la
        conservación catastral vigente. <br> Que dichas solicitudes implican una Mutación de Tercera Clase y su
        inscripción
        en el catastro corresponde a lo establecido en los artículos 41, 43, 115 literal c) de
        la Resolución 70 de 2011 modificado por el artículo 10 literal c) de la Resolución 1055 de 2012 y 126 de la
        resolución 70 de 2011, expedidas por el Instituto Geográfico "Agustín Codazzi", y los artículos 2.2.2.2.28 y
        2.2.2.2.29 del decreto nacional 148 del 4 de febrero de 2020. <br> Que en consecuencia de lo anteriormente
        expuesto,
    </p>

    <br>

    <h3>Resuelve</h3>

    <p>Artículo Primero: Ordenar la inscripción de nuevas construcciones o edificaciones, demoliciones, y modificación
        de las condiciones y características constructivas o cambio de destino económico de los predios en el catastro
        del Valle del Cauca, los siguientes cambios:
    </p>

    <p>
        Numeral: 1 <br>
        Radicación No.: 7600500001 <br>
        Fecha radicación: 10/11/2021 <br><br>
        INFORMACIÓN HISTÓRICA <br>
        Departamento: 76 Valle del Cauca <br>
        Municipio: 005 Buga <br>
        Número Predial Nacional: 76 005 00 0045 97 0048 0002 0 00 00 0045 <br>
        Fecha de inscripción catastral: 28/12/2020
        destinación Económica o Lote: HABITACIONAL <br>
        Estrato: 3 <br>
        Dirección: KR 50 OESTE # 3 - 13 <br>
        Dirección notificación: KR 50 OESTE # 3 - 13 apto 2021 <br>
        Edificio/Condominio/Parcelación: LA CARMELITA <br>
        Vigencia Fiscal: 01/01/2021 <br>
        PH% DE PARTICIPACIÓN: 30 <br>
        Teléfono(s): 555555555
    </p>

    <br>

    <p><b>Observacion:</b></p>

    <fieldset>
        <legend>
            <p style="font-weight: bold;">Informacion Juridica</p>
        </legend>

        <table>
            <thead>
                <tr style="background-color: rgba(38, 201, 219, 0.495);">
                    <th>Entidad</th>
                    <th>Numero_Entidad</th>
                    <th>Ciudad</th>
                    <th>Numero_Es</th>
                    <th>Fecha_Esc</th>
                    <th>Valor Adquirido</th>
                    <th>Justificacion_Pr</th>
                    <th>Matricula</th>
                    <th>Fecha_Mat</th>
                    <th>Tipo de identifi</th>
                    <th>Numero identi</th>
                    <th>Nombre intere</th>
                    <th>% Partici</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nota</td>
                    <td>Trece</td>
                    <td>Bug</td>
                    <td>2344</td>
                    <td>12/11/2021</td>
                    <td>$234000000</td>
                    <td>Dominio</td>
                    <td>1364</td>
                    <td>4/10/2021</td>
                    <td>CC</td>
                    <td>175678906</td>
                    <td>YEISON PACHECO</td>
                    <td>33.33%</td>
                </tr>
                <tr>
                    <td>Nota</td>
                    <td>Trece</td>
                    <td>Bug</td>
                    <td>5645</td>
                    <td>12/11/2021</td>
                    <td>$265000000</td>
                    <td>Dominio</td>
                    <td>1512</td>
                    <td>5/09/2021</td>
                    <td>CE</td>
                    <td>186578004</td>
                    <td>DIEGO RODRIGUEZ</td>
                    <td>33.33%</td>
                </tr>
                <tr>
                    <td>Nota</td>
                    <td>Trece</td>
                    <td>Bug</td>
                    <td>8723</td>
                    <td>12/11/2021</td>
                    <td>$278000000</td>
                    <td>Dominio</td>
                    <td>4412</td>
                    <td>19/06/2021</td>
                    <td>CC</td>
                    <td>18980765</td>
                    <td>CAROLINA ARCINIEGA</td>
                    <td>33.33%</td>
                </tr>
            </tbody>
        </table>

    </fieldset>
    <br>

    <fieldset>
        <legend>
            <p style="font-weight: bold;">Informacion de Terreno</p>
        </legend>

        <table>
            <thead>
                <tr style="background-color: rgba(38, 201, 219, 0.495);">
                    <th>Numero unidad</th>
                    <th>Ubicacion</th>
                    <th>Zona Geoeconomica</th>
                    <th>Area de terreno privada</th>
                    <th>Area comun</th>
                    <th>Area total terreno</th>
                    <th>Valor total terreno</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>RURAL</td>
                    <td>47</td>
                    <td>3500</td>
                    <td>500</td>
                    <td>4000</td>
                    <td>$5.000.000.000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>URBANA</td>
                    <td>23</td>
                    <td>5000</td>
                    <td>1000</td>
                    <td>6000</td>
                    <td>$10.000.000.000</td>
                </tr>
            </tbody>
        </table>

    </fieldset><br>

    <fieldset>
        <legend>
            <p style="font-weight: bold;">Informacion de construccion</p>
        </legend>

        <table>
            <thead>
                <tr style="background-color: rgba(38, 201, 219, 0.495);">
                    <th>Unidad</th>
                    <th>Año de contruccion</th>
                    <th>Tipo de construccion</th>
                    <th>Tipo unidad</th>
                    <th>Destino economico</th>
                    <th>Area construida</th>
                    <th>Puntaje</th>
                    <th>Valor total de la construccion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A</td>
                    <td>1995</td>
                    <td>CONVENCIONAL</td>
                    <td>COMERCIAL</td>
                    <td>(1125) CENTROS COMERCIALES</td>
                    <td>2000</td>
                    <td>78</td>
                    <td>$280.000.000.000</td>
                </tr>
            </tbody>
        </table>

    </fieldset><br>

    <p style="font-weight: bold;">
        Avalúo Catastral <br>
        Avalúo: $ 15.280.000,00 Año: 01/01/2021
    </p>
    <div style="border: solid 3px black; margin-top: 75px; margin-left: -17px; margin-right: -2px; padding-left: 10px; padding-right: 10px;">
    <p style="margin-top: 130px;">
        NFORMACIÓN ACTUAL Departamento: 76 Valle del Cauca <br>
        Municipio: 005 Buga <br>
        Número Predial Nacional: 76 005 00 0045 97 0048 0002 0 00 00 0045 <br>
        Fecha de inscripción catastral: 28/12/2020 <br>
        destinación Económica o Lote: HABITACIONAL <br>
        Estrato: 3 <br>
        Dirección: KR 50 OESTE # 3 - 13 <br>
        Dirección notificación: KR 50 OESTE # 3 - 13 apto 2021 <br>
        Edificio/Condominio/Parcelación: LA CARMELITA <br>
        Vigencia Fiscal: 01/01/2021 <br>
        PH% DE PARTICIPACIÓN: 30 <br>
        Teléfono(s): 555555555
    </p>

    <table style="border: none; font-size: 13px;">
        <tbody>
            <tr>
                <td style="width: 12%;">
                    Observación del Cambio:
                </td>
                <td style="border: 1px solid black;">
                    Se procede a actualizar puntaje de calificación y se incorpora construcción NO convencional, de
                    acuerdo
                    a informe de visita técnica realizada por el equipo de visitas de terreno del Catastro Valle
                </td>
            </tr>
        </tbody>
    </table>

    <br>

    <fieldset>
        <legend>
            <p style="font-weight: bold;">Informacion Juridica</p>
        </legend>

        <table>
            <thead>
                <tr style="background-color: rgba(38, 201, 219, 0.495);">
                    <th>Entidad</th>
                    <th>Numero_Entidad</th>
                    <th>Ciudad</th>
                    <th>Numero_Es</th>
                    <th>Fecha_Esc</th>
                    <th>Valor Adquirido</th>
                    <th>Justificacion_Pr</th>
                    <th>Matricula</th>
                    <th>Fecha_Mat</th>
                    <th>Tipo de identifi</th>
                    <th>Numero identi</th>
                    <th>Nombre intere</th>
                    <th>% Partici</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Nota</td>
                    <td>Trece</td>
                    <td>Bug</td>
                    <td>2344</td>
                    <td>12/11/2021</td>
                    <td>$234000000</td>
                    <td>Dominio</td>
                    <td>1364</td>
                    <td>4/10/2021</td>
                    <td>CC</td>
                    <td>175678906</td>
                    <td>YEISON PACHECO</td>
                    <td>33.33%</td>
                </tr>
                <tr>
                    <td>Nota</td>
                    <td>Trece</td>
                    <td>Bug</td>
                    <td>5645</td>
                    <td>12/11/2021</td>
                    <td>$265000000</td>
                    <td>Dominio</td>
                    <td>1512</td>
                    <td>5/09/2021</td>
                    <td>CE</td>
                    <td>186578004</td>
                    <td>DIEGO RODRIGUEZ</td>
                    <td>33.33%</td>
                </tr>
                <tr>
                    <td>Nota</td>
                    <td>Trece</td>
                    <td>Bug</td>
                    <td>8723</td>
                    <td>12/11/2021</td>
                    <td>$278000000</td>
                    <td>Dominio</td>
                    <td>4412</td>
                    <td>19/06/2021</td>
                    <td>CC</td>
                    <td>18980765</td>
                    <td>CAROLINA ARCINIEGA</td>
                    <td>33.33%</td>
                </tr>
            </tbody>
        </table>

    </fieldset>
    <br>

    <fieldset>
        <legend>
            <p style="font-weight: bold;">Informacion de Terreno</p>
        </legend>

        <table>
            <thead>
                <tr style="background-color: rgba(38, 201, 219, 0.495);">
                    <th>Numero unidad</th>
                    <th>Ubicacion</th>
                    <th>Zona Geoeconomica</th>
                    <th>Area de terreno privada</th>
                    <th>Area comun</th>
                    <th>Area total terreno</th>
                    <th>Valor total terreno</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>RURAL</td>
                    <td>47</td>
                    <td>3500</td>
                    <td>500</td>
                    <td>4000</td>
                    <td>$5.000.000.000</td>
                </tr>
                <tr>
                    <td>1</td>
                    <td>URBANA</td>
                    <td>23</td>
                    <td>5000</td>
                    <td>1000</td>
                    <td>6000</td>
                    <td>$10.000.000.000</td>
                </tr>
            </tbody>
        </table>

    </fieldset><br>

    <fieldset>
        <legend>
            <p style="font-weight: bold;">Informacion de construccion</p>
        </legend>

        <table>
            <thead>
                <tr style="background-color: rgba(38, 201, 219, 0.495);">
                    <th>Unidad</th>
                    <th>Año de contruccion</th>
                    <th>Tipo de construccion</th>
                    <th>Tipo unidad</th>
                    <th>Destino economico</th>
                    <th>Area construida</th>
                    <th>Puntaje</th>
                    <th>Valor total de la construccion</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A</td>
                    <td>1995</td>
                    <td>CONVENCIONAL</td>
                    <td>COMERCIAL</td>
                    <td>(1125) CENTROS COMERCIALES</td>
                    <td>2000</td>
                    <td>78</td>
                    <td>$280.000.000.000</td>
                </tr>
                <tr>
                    <td>A</td>
                    <td>1995</td>
                    <td>NO CONVENCIONAL</td>
                    <td>COMERCIAL</td>
                    <td>(105) KIOSKOS</td>
                    <td>500</td>
                    <td></td>
                    <td>$50.000.000</td>
                </tr>
            </tbody>
        </table>

    </fieldset>

    <p><b>Avalúo Catastral Avalúo: $ 15.330.000.000 Año: 01/01/2021</b></p>

    <p>
        INFORMACION DE RESOLUCIÓN <br>
        No. de predios Modificados: 1 <br>
        Avalúo total Anterior $ 15.280.000.000 <br>
        Avalúo Total Actual $ 15.330.000.000 <br>
        Área total de construcción Actual 50 Metros Cuadrados
    </p>
    </div>  

    <p>
        Artículo Segundo: Inscripción Catastral. La inscripción en el Catastro Valle del Cauda en mutación de tercera
        clase, será a partir de la fecha de la resolución que ordena
        la inscripción de la nueva edificación, construcción, demolición o cambio de destino económico acorde a lo
        indicado en el artículo 126 de la Resolución 70 de 2011. <br><br>

        Artículo Tercero: Vigencia fiscal. Los avalúos inscritos con posterioridad al 1 de enero tendrán vigencia fiscal
        a partir del año siguiente a la expedición de este acto administrativo conforme a lo dispuesto en el artículo 43
        de la Resolución 70 de 2011. <br><br>

        Artículo Cuarto: Los avalúos con vigencia fiscal primero de enero del año siguiente a esta Resolución, están
        sujetos al incremento anual conforme al índice que se determine a nivel nacional o el que se deba aplicar según
        el caso del Índice de Valoración Predial (IVP), siempre y cuando no hayan sido formados ni actualizados durante
        este año. <br><br>

        Artículo Quinto: La presente Resolución se notificará personalmente o por aviso, siguiendo el procedimiento
        previsto en los artículos 67, 68 y 69 de la Ley 1437 de 2011 en concordancia con el artículo 151 de la
        Resolución 70 de 2011, modificado por el artículo 20 literal B numeral 2 de la Resolución 1055 de 2012. <br><br>

        Artículo Sexto: Contra la presente Resolución procede el Recurso de Reposición ante la Dirección de Catastro
        Valle del Cauca y el Recurso de Apelación ante el Departamento de Hacienda del Valle del Cauca dentro de los
        diez (10) días siguientes a la notificación en virtud de lo dispuesto en el artículo 74 y siguientes de la Ley
        1437 del 18 de enero de 2011 y el artículo 19 literal B de la Resolución 1055 de 2012 que modificó el artículo
        149 de la Resolución 70 de 2011. Cuando sea rechazado el de apelación procede el recurso de queja el cual es
        facultativo y podrá interponerse directamente ante Departamento de Hacienda del Valle del Cauca, acompañado de
        la copia de la providencia que haya negado el recurso de conformidad con el artículo 74 y siguientes de la Ley
        1437 de 2011. <br><br>

        Artículo Séptimo: Los recursos se concederán en efecto suspensivo y por consiguiente la correspondiente
        anotación de la inscripción catastral, solo se efectuará cumplidos los presupuestos del artículo 87 de la Ley
        1437 de 2011. Una vez en firme la presente resolución se comunicará a la Dirección de Rentas del Departamento
        del Valle del Cauca conforme a lo dispuesto en el artículo 6 de la Resolución 70 de 2011.

    </p>

    <br>

    <p>
        Dado en Buga Valle del Cauca, el XXX de XXXX de 2021
    </p>

    <br>

    <h3>NOTIFIQUESE Y CUMPLASE</h3>

    <br>

    <p style="text-align: center;">
        FALCAO GARCIA <br>
        Director Catastro Valle del Cauca
    </p>
    <p>
        Proyecto: Lider de la Mutación <br>
        Elaboró: Editor de la Mutación
    </p>

</body>

</html>